<nav>
  <div class="main_wrapper">
    <img class="main_logo" src="public/img/logo.png" />
    <div class="nav">
      <div class="site_nav">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Courses</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="account_nav">
        <ul>
          <li>
            <i class="fas fa-search"></i>
          </li>
          <li>
            <i class="far fa-bell"></i>
          </li>
          <li>
            <i class="far fa-comment-alt"></i>
          </li>
          <li>
            <i class="fas fa-globe-americas"></i>
            <span>English</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
