<section id="profile_header">
  <div class="hero_area"></div>
  <div class="profile_data">
    <div class="main_wrapper">
      <div class="user_avatar">
        <div>
          <img src="public/img/user-avatar.jpg" />
        </div>
      </div>
      <div class="user_interactions">
        <div class="request_exchange">
          <span>210 contacts</span>
          <a href="#" class="add">Offer Exchange</a>
        </div>
        <h1>Janice Griffith</h1>
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Activity</a>
          </li>
          <li>
            <a href="#">Pals</a>
          </li>
          <li>
            <a href="#">Publications</a>
          </li>
          <li>
            <a href="#">Tips</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
